@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,600&display=swap');



* {
    box-sizing: border-box;
}

body {
    background-image: url("./diwali.jpg");

    background-size: cover;

    background-position: center center;

    min-height: 55vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    font-family: "Poppins", sans-serif;

    margin: 0;

    color: aliceblue;
    


}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -4rem;
}

.cd-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.cd-element {
    text-align: center;
}

.cd-element span {
    font-size: 1.5rem;
}

